body {
    background-color: #f1f1f1;
}

h2 {
    margin: 0 auto;
    text-align: center;
    font-family: arial, sans-serif;
}

h4 {
    font-family: arial, sans-serif;
}

.container {
    width: 75vh;
    height: 100vh;
    /* background-color: #f1f1f1; */
}

.display {
    height: 40vh;
    width: 40vh;
    background-color: rgb(128, 128, 64);
    margin: 2px auto;
    border: 2px solid black;
}

.input {
    width: 11vh;
    margin: 5px auto;
    /* align-self: center; */
}

.inputs {
    width: 40vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* background-color: #f100f1; */
}

.button1 {
    display: block;
    margin: 5px auto;
}

.labels {
    display: flex;
    width: 40vh;
    justify-content: center;
    margin: 0 auto;
}

.labels p {
    width: 11vh;
    margin: 5px auto;
    text-align: center;
    /* font-family: courier, monospace; */
    font-family: arial, sans-serif;
    /* font-size: 16px; */
}

.convert {
    margin: 0 auto;
    text-align: center;
    font-family: courier, monospace;
    /* font-family: "Times New Roman", Times, serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
}


.slider {
    /* width: 30vh; */

    /* height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em; */
}

.sliders {
    margin: 0 10px;

}

.sample-holder {
    display: flex;
    width: 60vh;
    height: 25vh;
    border: 2px solid black;
}

.sample {
    height: 20vh;
    width: 20vh;
    margin: 2px auto;
    border: 2px solid black;
}

.sample-text {
    font-family: courier, monospace;
}
